{
  "*.{js,jsx,ts,tsx,css,scss,html,json}": [
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,less,scss,html}": [
    "stylelint --fix",
    "git add"
  ]
}
