:root {
  font-size: 0.8125em;

  /* COLORS */
  --bg-primary: #fff;

  /* UNITS */
  --large-text: 1.5384615385rem;
  --medium-text: 1.1538461538rem;
  --default-text: 1rem;
  --small-text: 0.8461538462rem;
}
